<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="MangoCRM" src="{{ "/assets/img/MangoCRM.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mango CRM </h3>
    <ul>
      <li>교육 과정중 18명의 수강생분들과 함께 만든 대규모 프로젝트입니다. CRM이 갖춰야할 기본적인 요소를 갖추고있습니다.(미완성)</li>
    </ul>
    <p>2019.08~2020.02</br>
       Language : Java, HTML, CSS3, JavaScript, jQuery</br>
       Development Environment : Spring, Oracle</br>
    </p>
    <a class="project-link" target="_blank" href="https://github.com/sujl950620/mangoCRM">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="EasysShop" src="{{ "/assets/img/EasysShop.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>EasysShop</h3>
    <ul>
      <li>간편하고 사용하기 쉬운 헤어샵 고객관리 프로그램 입니다.</li>
    </ul>
    <p>2019.12~2020.02 (PL)</br>
       Language : Java, HTML, CSS3, JavaScript, jQuery</br>
       Development Environment : Spring, Oracle
    </p>
    <a class="project-link" target="_blank" href="https://github.com/sujl950620/HairShop">Check it out</a>
  </div>
</div>
<div class="user-projects" style="width: 100%;">
  <div class="images-right">
    <img alt="MangoCRM" src="{{ "/assets/img/SLOG.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SLOG </h3>
    <ul>
      <li>간편하고 최소한의 기능을 담은 블로그 입니다.</li>
    </ul>
    <p>2019.12~2020.01</br>
      Language : Java, HTML, CSS3, JavaScript, jQuery</br>
      Development Environment : Spring, Oracle
   </p>
    <a class="project-link" target="_blank" href="https://github.com/sujl950620/SLOG">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="game" src="{{ "/assets/img/game.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Game</h3>
    <ul>
      <li>간단한 웹 게임 입니다.</li>
    </ul>
    <p>2019.10~2019.10 </br>
       Language : Java, HTML, CSS3, JavaScript, jQuery</br>
    </p>
    <a class="project-link" target="_blank" href="https://github.com/sujl950620/game">Check it out</a>
    <a class="project-link" target="_blank" href="https://sujl950620.github.io/game/">Play</a>
  </div>
</div>


