@charset "UTF-8";
html, body {
   margin: 0;
   font-size: 0pt;
   width: 100%;
   height: 100%;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url("./src/img/game/reveka_L_move.png");
    background-position-x: 0px;
     background-position-y: 0px;
     background-repeat: no-repeat;
     z-index: 200;
    position: absolute;
    left: 150px;
    top: 480px;
     /* position: */
 }
.bg {
      display: block;
      width: 1920px;
      height: 1080px;
      background-image : url('../src/img/game/bg.png');
}

.left_area {
   display: inline-block;
   vertical-align: top;
   width: 410px;
   height: 100%;
}

/* .box {
   display: inline-block;
   width: 100px;
   height: 100px;
   left: 150px;
   top: 480px;
   background-color: red;
   z-index: 200;
   position: absolute;
}
 */
.inter_area {
   display: block;
   width: 100%;
   height: 150px;
   background-color: #262626;
   color: #F2F2F2;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

.inter-illustration {
   display: inline-block;
   vertical-align: top;
   width: 150px;
   height: 100%;

}
.inter_illustration-img {
   display: inline-block;
   vertical-align: top;
   width: 126px;
   height: 126px;
   margin-bottom: 12px;
   margin-top: 12px;
   margin-left: 24px;
   background-image : url('../src/img/game/reveka1.png');
}
.inter_title {
   display: inline-block;
   vertical-align: top;
   width : 236px;
   height: 126px;;
   color : white;
   margin-bottom: 12px;
   margin-top: 12px;
   margin-left: 24px;
   font-size: 14pt;
}

.shop_area {
   display: block;
   width: 100%;
   height: 100%;
}
.shop_area_line {
   display: block;
   width: 100%;
   height: 100px;
}
.shop_wall {
   display: block;
   width: 100%;
   height: 30px;
   background-color: #6D572E;
   font-size: 14pt;
   color: white;
}
.shop_hero_img {
    display: inline-block;
   vertical-align: top;
   width :100px;
   height: 100px;
}

.shop_hero_img_npc{
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/npc.png');
}

.shop_hero_img_ruffy {
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/ruffy.png');
}
.shop_hero_img_nami {
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/nami.png');
}
.shop_hero_img_sabo {
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/sabo.png');
}
.shop_hero_img_hankok {
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/hankok.png');
}
.shop_hero_img_sangdi {
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/sangdi.png');
}
.shop_hero_img_ace {
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/ace.png');
}
.shop_hero_img_joro {
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/joro.png');
}
.shop_hero_img_shanks {
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/shanks.png');
}
.shop_hero_img_mihawk {
   display: inline-block;
    vertical-align: top;
    width :100px;
    height: 100px;
   background-image : url('../src/img/game/mihawk.png');
}
.right_area {
   display: inline-block;
   vertical-align: top;
   width: calc(1920px - 410px);
   left: 410px;
   height: 100%;
}

.logo_area {
   display: table;
   width: 100%;
   height: 60px;
   background-color: #262626;
   font-size: 20px;
   font-weight: bold;
   color: #F2F2F2;
}
/* 여기까지 성준이형거 */
.first_area{
   display: inline-block;
   width: 1510px;
   height: 355px;
}

.first_wall{
   display: inline-block;
   width: 66px;
   height: 355px;
   background-color: #6D572E;
   vertical-align: top;
}
 
.monster{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
   vertical-align: top;
}
.bird{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
    vertical-align: top;
    background-image : url('../src/img/game/bird.png');
}

.bird{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
    vertical-align: top;
    background-image : url('../src/img/game/bird.png');
}
.bluegolem{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
    vertical-align: top;
    background-image : url('../src/img/game/bluegolem.png');
}
.minibaron{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
    vertical-align: top;
    background-image : url('../src/img/game/minibaron.png');
}
.baron{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
    vertical-align: top;
    background-image : url('../src/img/game/baron.png');
}
.frog{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
    vertical-align: top;
    background-image : url('../src/img/game/frog.png');
}
.golem{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
    vertical-align: top;
    background-image : url('../src/img/game/golem.png');
}
.redgolem{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
    vertical-align: top;
    background-image : url('../src/img/game/redgolem.png');
}
.dragon{
   display: inline-block;
   width: 295px;
   height: 273px;
   background-color: #FFFFFF;
    vertical-align: top;
    background-image : url('../src/img/game/dragon.png');
}

.second_area{
   display: inline-block;
   width: calc(1920px - 410px);
   height: 300px;
}

.second_top_area{
   display: inline-block;
   width: 1510px;
   height: 66px;
}

.second_wall{
   display: inline-block;
   width: 66px;
   height: 66px;
   background-color: #6D572E;
}


.second_wall_empty{
   display: inline-block;
   width: 295px;
   height: 66px;
}

.second_middle_area{
   display: inline-block;
   width: calc(1510px - 66px);
   height: 168px;
}

.second_middle_right_wall {
   display: inline-block;
   width: 66px;
   height: 168px;
   background-color: #6D572E;
   margin: right;
}

.second_bottom_area

.third_area{
   display: inline-block;
   width: calc(1920px - 410px);
   height: 425px;
}

.third_area > div{
   vertical-align: bottom;
}

.popup {
    display : inline-block;
    position: absolute;
    top : 300px;
    left : 600px;
    width : 600px;
    height: 300px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: aqua;
    border : 5px solid #444444;
    text-align: center;
  
}        
.popup1 {
   width :100%; 
   height : 100%;
   margin: auto 0; 
   display: inline-block; 
   vertical-align: top;
   text-align: center;
   font-size : 30pt; 
   font-weight : bold;
   
}
.popup_empty {
    display: block; 
    width :100%; 
    height : 100px ;
    line-height: 100px;
    vertical-align: middle;
}
.popup2 {
    display : inline-block;
    position: absolute;
    top : 300px;
    left : 600px;
    width : 900px;
    height: 300px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: aqua;
    border : 5px solid #444444;
    text-align: center;
    font-size: 12pt;
}        
.popup3 {
   width :100%; 
   height : 100%;
   margin: auto 0; 
   display: inline-block; 
   vertical-align: top;
   text-align: center;
   font-size : 14pt; 
   font-weight : bold;
   
}

.hero_information {
    width : 100%-50% ;
    height : 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;

    
}
.hpbargreen {
    
    width : 150px;
    height : 30px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color : green;
    display: inline-block;
    vertical-align: top;
    
}
.hpbar {
    display: inline-block;
    vertical-align: top; 
    width : 100%;
    height : 100%;
}
.hpbar_birdStat {
   
    width : calc(100% - 0px);
    height : 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color : red;
    display: inline-block;
    vertical-align: top; 
    
    float :left;
}
.hpbar_bluegolemStat {
   
    width : calc(100% - 0px);
    height : 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color : red;
    display: inline-block;
    vertical-align: top; 
    
    float :left;
}
.hpbar_minibaronStat {
   
    width : calc(100% - 0px);
    height : 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color : red;
    display: inline-block;
    vertical-align: top; 
    
    float :left;
}
.hpbar_baronStat {
   
    width : calc(100% - 0px);
    height : 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color : red;
    display: inline-block;
    vertical-align: top; 
    
    float :left;
}
.hpbar_frogStat {
   
    width : calc(100% - 0px);
    height : 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color : red;
    display: inline-block;
    vertical-align: top; 
    
    float :left;
}
.hpbar_golemStat {
   
    width : calc(100% - 0px);
    height : 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color : red;
    display: inline-block;
    vertical-align: top; 
    
    float :left;
}
.hpbar_redgolemStat {
   
    width : calc(100% - 0px);
    height : 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color : red;
    display: inline-block;
    vertical-align: top; 
    
    float :left;
}
.hpbar_dragonStat {
   
    width : calc(100% - 0px);
    height : 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color : red;
    display: inline-block;
    vertical-align: top; 
    
    float :left;
}


.monstername {
    margin-left : 10px;
    margin-top : 5px;
    display: inline-block;
    vertical-align: top;
    width : 90px;
    height : 30px;
    font-size: 14px;
    color :white;
    text-align: right;
}

.hpnumber {
    font-size : 13px;
    margin-left : 5px; 
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
    width : 110px;
    height: 20px;
    color : white;
    text-align: left; 
}

.third_wall{
   display: inline-block;
   width: 66px;
   height: 425px;
   background-color: #6D572E;

}